# Ігнорувати папку збірки
build/*

# Ігнорувати всі виконувані файли (Windows та Linux)
*.exe
*.out

# Ігнорувати базу даних для LSP
compile_commands.json

# Ігнорувати тимчасові файли редакторів
.swp
.swo
.vscode/
.idea/

# Ігнорувати файли компіляції
*.a
*.so
*.o
